.body {
  background-color: #ebe5dd;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.title {
  color: grey;
  display: flex;
  justify-content: center;
  margin: 2%;
  font-size: 3.6rem;
}

.container {
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 5% 5%;
}

.uploadButton {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  border-radius: 25px;
}

.table {
  width: 95%;
  margin: auto;
  color: grey;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}